@import 'fonts';
@import 'colors';
@import 'variables';

div#portfolio-inner {
  background: #fff !important;

  //-----------------------------------------------------------------------------
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes slide-in {
  100% {
    transform: translate(-2em, -3em);
  }
}
//END OF ANIMATIONS -----------------------------------------------------------

  div#jsoned {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: flex-start;
    justify-content: flex-start;

    div[class^="col-"] {
      -webkit-perspective: 1000px;
      perspective: 1000px;

      div.card-content {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        height: 100%;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
        box-shadow: 0 2px 2px rgba(0,0,0,0.15);
        -webkit-transform: rotateX(07deg); /* Chrome, Safari, Opera  */
        transform: rotateX(07deg);
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);



        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 100%;
          // height: 100%;
          opacity: 0;
          -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
          box-shadow: 0 2px 2px rgba(0,0,0,0.3);
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover {
          -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
          -webkit-box-shadow: 0 10px 3px 2px rgba(0,0,0,0.07);
          box-shadow: 0 10px 3px rgba(0,0,0,0.07);
          -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
          transform: rotateX(0deg);
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

          span.play-icon {
            display: block !important;
          }

          &:after {
             opacity: 1;
          }
        }

        a.card-click-target {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 9999999999999;
          span.extra-label {
            position: absolute;
            display: none;
            color: #fff;
            line-height: 2;
            background-color: $orange;
            border-radius: 180px;
            font-weight: normal;
            width: 50px;
            height: 50px;
            font-size: 1.5rem;
            text-align: center;
            left: -10px;
            top: -10px;
            letter-spacing: -2px;
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.35);
            box-shadow: 0 1px 0px rgba(0,0,0,0.50);
          }
        }

        div.cover {
          -webkit-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
          background-color: #f5f5f5;
          overflow: hidden;
          position: relative;

          &:hover {
            div.project-image-container {
              div.cover-outer-align {
                div.cover-inner-align {
                    &:before {
                      background: linear-gradient(to top, rgba(255,0,0,0) 15%, rgba(20,8,23,1));
                      opacity: 0;
                      transition: opacity 0.7s ease-in-out;
                    }
                  }
                }
              }

              &:after {
                animation: sheen 1s forwards;
              }
            }

            &:focus::after {
              animation: sheen 1s forwards;
            }

            &:after {
              content: '';
              position: absolute;
              top: -50%;
              right: -50%;
              bottom: -50%;
              left: -50%;
              background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
              transform: rotateZ(60deg) translate(-5em, 7.5em);
            }



          div.project-image-container {
            height: 110%;
            left: -5%;
            position: relative;
            top: -5%;
            width: 110%;


            div.cover-outer-align {
              display: table;
              height: 100%;
              width: 100%;

              div.cover-inner-align {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                // &:before {
                //   content: '';
                //   position: absolute;
                //   top: 0;
                //   right: 0;
                //   bottom: 0;
                //   left: 0;
                //   // background-image: linear-gradient(to top,#fff 15%,#333);
                //   background: linear-gradient(to top, rgba(255,0,0,0) 15%, rgba(20,8,23,1));
                //   opacity: .3;
                // }

                img {
                  width: 100%;
                  display: block;
                }
              }
            }
          }

          span.view-icon {
            display: none;
            position: absolute;
            z-index: 999;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0.9;
            transform: translate(-50%, -50%);
            color: #fff;
            animation: slide-in 1s forwards;

            i.fa {
              -webkit-text-shadow: 0 2px 2px rgba(0,0,0,0.8);
              text-shadow: 0 2px 2px rgba(0,0,0,0.8);
            }
          }
        }

        div.details {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          padding: 7px 10px 0;
          position: relative;
          background-color: $half-white;
          border-top: 3px solid $orange;

          a.card-click-target {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }

          a.title {
            margin-bottom: 0;
            margin-top: 3px;
            color: #212121;
            display: block;
            font-size: 16px;
            line-height: 18px;
            max-height: 36px;
            min-height: 18px;
            overflow: hidden;
            text-decoration: none;
            position: relative;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
              text-decoration: underline;
            }
          }

          div.subtitle-container {
            min-height: 22px;
            display: block;
            position: relative;
            width: 100%;

            a.subtitle {
              color: #616161;
              display: inline-block;
              font-size: 13px;
              margin: 1px 0;
              max-width: 132px;
              overflow: hidden;
              white-space: nowrap;

              &:hover {
                text-decoration:none;
              }
            }
          }
          span.icon-menu-container {
            span.menu-container {
              background: #fff;
              cursor: pointer;
              display: inline-block;
              font-size: 13px;
              font-weight: 400;
              line-height: 17px;
              padding-left: 2px;
              position: relative;
              text-align: right;
              text-transform: uppercase;

              i.fa {
                font-size: 1.2em;
                position: relative;
                top: 50%;
                transform: translate(-50%, 100%);
              }
            }
          }
        }
          }
    }
  }


  //SOCIAL MENU ---------------------------------
  .feed__social {
     &.active {
       display: block;
       opacity: 1;
     }
  }

  .feed__social__list {
     display: none;
     opacity: 1;
     position: absolute;
     z-index: 99999999999999;
     overflow: hidden;
     background: #252525;
     -webkit-transition: opacity 300ms;
     transition: opacity 300ms;
     bottom: -42px;
     right: 10px;
     padding-left: 11px;
     -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.35);
     box-shadow: 0 2px 2px rgba(0,0,0,0.35);
     -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

     .feed__social__title {
       text-align:center;
       background-color: #ddd;
       text-transform: uppercase;
       padding: 0.2em 0.3em;
       color: #fff;
     }

     .feed__social__item {
       &.icon-facebook {
         i {
           color: #4968ab;
         }
       }
       &.icon-twitter {
         i {
           color: #01b0ef;
         }
       }
       &.icon-instagram {
         i {
           color: #01b0ef;
         }
       }
       &.icon-gplus {
         span, i {
           color: #dd4b39;
         }
       }
       &.icon-close {
         padding-top: 7px;
         padding-left: 11px;
         padding-right: 11px;
         padding-bottom: 0;
         height: 36px;
         border-left: 1px solid #ddd;
         margin: 0;

         &:hover {
           span, i {
             text-decoration: underline;
           }
         }

         span, i {
           color: #dd4b39;
           text-transform: none;
         }
         &:hover {
           cursor: pointer;
         }
       }
       &.icon-pinterest {
         i {
           color: #ea191e;
         }
       }
       &.icon-tumblr {
         i {
           color: #34465e;
         }
       }
       &.icon-whatsapp {
         i {
           color: #29a71a;
         }
       }
       &.icon-email {
         i {
           color: #292929;
         }
       }

        font-size: 1em;
        -webkit-transition: background-color .2s;
        transition: background-color .2s;
        position: relative;
        margin: 2px;
        padding: 0.1em;
        float: left;
        display: block;

        .feed__social__item__span {
          color: #000;
          text-transform: capitalize;
        }

        .feed__social__item__link {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
     }
}
  //END OF SOCIAL MENU


  footer#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    font-size: 0.8rem;

    address.footer-address {
      color: $orange;
    }

    nav.navbar {
      margin: 0;

      &.navbar-default {
        background-color: transparent;
        border-radius: 0;
        border: none;

        ul {
          float: none;
          margin: 0 auto;
          position: relative;
          width: 330px;

          li {
            a {
                background-color: transparent;
                color: $orange;

                &:hover {
                  opacity: 0.7;
                }
            }
          }
        }
      }

      div.container {
        margin: 0 auto 0;
      }
    }
  }
}
