//Helper Classes

//NO MARGIN -------------------------------------
.m-0 {
  margin: 0;
}

.m-10 {
  margin: 1em;
}

//BOTTOM MARGINS --------------------------------
.mb-10 {
  margin-bottom: 0.714em;
}

.mb-20 {
  margin-bottom: 1.429em;
}

.mb-30 {
  margin-bottom: 2.143em;
}

.mb-40 {
  margin-bottom: 2.857em;
}

.mb-50 {
  margin-bottom: 3.571em;
}

//TOP MARGINS -----------------------------------
.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 0.714em;
}

.mt-20 {
  margin-top: 1.429em;
}

.mt-30 {
  margin-top: 2.143em;
}

.mt-40 {
  margin-top: 2.857em;
}

.mt-50 {
  margin-top: 3.571em;
}


//PADDING --------------------------------------------------------------------------

//NO PADDING ----------------------------------
.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

//RIGHT PADDING -------------------------------
.pr-10 {
  padding-right: 0.714em;
}

.pr-20 {
  padding-right: 1.429em;
}

.pr-30 {
  padding-right: 2.143em;
}

.pr-40 {
  padding-right: 2.857em;
}

.pr-50 {
  padding-right: 3.571em;
}


//TOP PADDING -------------------------------
.pt-10 {
  padding-top: 0.714em;
}

.pt-20 {
  padding-top: 1.429em;
}

.pt-30 {
  padding-top: 2.143em;
}

.pt-40 {
  padding-top: 2.857em;
}

.pt-50 {
  padding-top: 3.571em;
}


//LEFT PADDING -------------------------------
.pl-10 {
  padding-left: 0.714em;
}

.pl-20 {
  padding-left: 1.429em;
}

.pl-30 {
  padding-left: 2.143em;
}

.pl-40 {
  padding-left: 2.857em;
}

.pl-50 {
  padding-left: 3.571em;
}

//BOTTOM PADDING -------------------------------
.pb-10 {
  padding-bottom: 0.714em;
}

.pb-20 {
  padding-bottom: 1.429em;
}

.pb-30 {
  padding-bottom: 2.143em;
}

.pb-40 {
  padding-bottom: 2.857em;
}

.pb-50 {
  padding-bottom: 3.571em;
}
