//Helper Classes


//BOTTOM MARGINS --------------------------------
.mb-10 {
  margin-bottom: 0.714em;
}

.mb-20 {
  margin-bottom: 1.429em;
}

.mb-30 {
  margin-bottom: 2.143em;
}

.mb-40 {
  margin-bottom: 2.857em;
}

.mb-50 {
  margin-bottom: 3.571em;
}

//TOP MARGINS -----------------------------------
.mt-10 {
  margin-top: 0.714em;
}

.mt-20 {
  margin-top: 1.429em;
}

.mt-30 {
  margin-top: 2.143em;
}

.mt-40 {
  margin-top: 2.857em;
}

.mt-50 {
  margin-top: 3.571em;
}
