@import 'helper';
@import 'colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

nav.navbar-default {
  background-color: #fff;

  .navbar-toggle {
    .icon-bar {
      background-color: $deep-plum;
    }
  }

  div.container {
    div#navbar {
      ul.nav {
        li {
          border-left: 1px solid #f3f3f3;

          &.active {
            > a {
              // border-bottom: 3px solid #ef6c00;
            }
          }
        }
      }
    }
  }
}

.page-header {
  h1#header-slogan {
    font-weight: bold;
  }
  p#header-muted-slogan {
    font-size: 2em;
    margin-top: 20px;
  }
}

#top-nav {
  #navbar {
    ul.navbar-nav {
      li {
        a {
          color: $deep-plum;

          &:hover {
            color: $deep-plum;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#main-nav {
  nav.navbar-default {
    border: 0;

    #navbar-main {
      background-color: $deep-plum;
      border: 0;

      ul.navbar-nav {
        li {
          border-left: 1px solid #fff;

          a {
            color: #fff;
            font-size: 1.5em;
          }

          &:hover {
            background-color: $deep-plum-hover;
          }

          &.active {
            a {
              background-color: #fff;
              color: $deep-plum-hover;
              font-weight: bold;
            }
          }

          &.dropdown.open {
            a {
              color: $deep-plum;
              background-color: #fff;
            }

            ul.dropdown-menu {
              border:0;
              >li {
                >a {
                  color: $deep-plum;
                  font-size: 1em;
                }

                border-bottom: 1px solid #f3f3f3;

                &:last-of-type {
                  border: 0;
                }

                &:hover {
                  >a {
                    background-color: $deep-plum-hover;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//END OF NAVIGATION -----------------------------------------

section.highlight {
  div.container {
    h1.big-header {
      font-weight: 900;
      font-size: 5em;
      margin: 0;
      border: 8px solid $deep-plum;
      letter-spacing: -4px;
      color: $deep-plum;
    }
  }
}

//BLOG SIDE CONTENT ---------------------------------------

aside.blog-aside {
  h2.aside-title {
    color: #fff;
    background-color: $deep-plum;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: -4px;
    font-weight: 400;
  }

  div.list-group {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    a.list-group-item {
      border-radius: 0;
      display:block;
    }

    h1.top5-chart-num {
      text-align: center;
      font-size: 4em;
      margin: 0;
    }
  }
}

//SONG CARDS ----------------------------------------------
div#jsoned {
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: flex-start;
  justify-content: flex-start;
}

div.card-content {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background: #fff;
  height: 100%;
  position: relative;
  text-decoration: none;
  vertical-align: top;

  a.card-click-target {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  div.cover {
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;

    div.cover-image-container {
      height: 110%;
      left: -5%;
      position: relative;
      top: -5%;
      width: 110%;

      div.cover-outer-align {
        display: table;
        height: 100%;
        width: 100%;

        div.cover-inner-align {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }

  div.details {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 7px 10px 0;
    position: relative;

    a.card-click-target {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    a.title {
      margin-bottom: 0;
      margin-top: 3px;
      color: #212121;
      display: block;
      font-size: 16px;
      line-height: 18px;
      max-height: 36px;
      min-height: 18px;
      overflow: hidden;
      text-decoration: none;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }

    div.subtitle-container {
      min-height: 22px;
      display: block;
      position: relative;
      width: 100%;

      a.subtitle {
        color: #616161;
        display: inline-block;
        font-size: 13px;
        line-height: 16px;
        margin: 1px 0;
        max-width: 132px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    span.price-container {
      span.display-price {
        background: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        padding-left: 2px;
        position: relative;
        text-align: right;
        text-transform: uppercase;

      }
    }
  }
}



//FOOTER ------------------------------------------------
footer.main-footer {
  // padding: 4em 0 2em;
  position: relative;
  z-index: 2;
  background-color: black;
  color: white;
  font-size: .8125em;
  line-height: 1.538461538;

  div.container {
    h3.footer-nav-header {
      font-size: 1.5em;
      font-weight: 300;
      color: $teal-green;

    }

    h3.footer-nav-featured-header {
      font-size: 4em;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0;
      text-align: center;
      border-top: 0.2em solid  $teal-green;
      border-right: 0.2em solid  $teal-green;
      border-bottom: 0.2em solid  $teal-green;
    }

    figure.featured-section {
      img {
        display:block;
        width: 100%;
        height: auto;
      }
      figcaption {

      }
    }

    #footer-logo {
      display: block;
      width: 100%;
      height: auto;
    }

    ul.nav {
      li {
        a {
            color: #fff;
            padding: 0.1em;

            &:hover {
              background-color: transparent;
              text-decoration: underline;
            }
        }
      }
    }
  }
}



$screen-lg-max: 1200px;
$screen-md-max: 992px;
$screen-sm-max: 768px;
$screen-xs-max: 480px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 480px and Smaller) */
@media screen and (max-width: $screen-xs-max) {
   body{font-size: 10px}
   h1#header-slogan {
     font-size: 2em;
     text-align: center;
   }
}

/* Small devices (tablets, 768px and Smaller) */
@media screen and (max-width: $screen-sm-max) {
   body{font-size: 12px;}

   h1#header-slogan {
     font-size: 2em;
     text-align: center;
   }

   p#header-muted-slogan {
     font-size: 2em;
     text-align: center;
     margin-top: 0 !important;
   }
}

/* Medium devices (desktops, 992px and Smaller) */
@media screen and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and Smaller) */
@media screen and (max-width: $screen-lg-max) {

.header .navigation ul.primary-menu > li a {
    font-size: 1.145em;
    padding: 0 1.24em;
}
}
