.m-0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 0.714em;
}

.mb-20 {
  margin-bottom: 1.429em;
}

.mb-30 {
  margin-bottom: 2.143em;
}

.mb-40 {
  margin-bottom: 2.857em;
}

.mb-50 {
  margin-bottom: 3.571em;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 0.714em;
}

.mt-20 {
  margin-top: 1.429em;
}

.mt-30 {
  margin-top: 2.143em;
}

.mt-40 {
  margin-top: 2.857em;
}

.mt-50 {
  margin-top: 3.571em;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pr-10 {
  padding-right: 0.714em;
}

.pr-20 {
  padding-right: 1.429em;
}

.pr-30 {
  padding-right: 2.143em;
}

.pr-40 {
  padding-right: 2.857em;
}

.pr-50 {
  padding-right: 3.571em;
}

.pt-10 {
  padding-top: 0.714em;
}

.pt-20 {
  padding-top: 1.429em;
}

.pt-30 {
  padding-top: 2.143em;
}

.pt-40 {
  padding-top: 2.857em;
}

.pt-50 {
  padding-top: 3.571em;
}

.pl-10 {
  padding-left: 0.714em;
}

.pl-20 {
  padding-left: 1.429em;
}

.pl-30 {
  padding-left: 2.143em;
}

.pl-40 {
  padding-left: 2.857em;
}

.pl-50 {
  padding-left: 3.571em;
}

.pb-10 {
  padding-bottom: 0.714em;
}

.pb-20 {
  padding-bottom: 1.429em;
}

.pb-30 {
  padding-bottom: 2.143em;
}

.pb-40 {
  padding-bottom: 2.857em;
}

.pb-50 {
  padding-bottom: 3.571em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

nav.navbar-default {
  background-color: #fff;
}

nav.navbar-default .navbar-toggle .icon-bar {
  background-color: #140711;
}

nav.navbar-default div.container div#navbar ul.nav li {
  border-left: 1px solid #f3f3f3;
}

.page-header h1#header-slogan {
  font-weight: bold;
}

.page-header p#header-muted-slogan {
  font-size: 2em;
  margin-top: 20px;
}

#top-nav #navbar ul.navbar-nav li a {
  color: #140711;
}

#top-nav #navbar ul.navbar-nav li a:hover {
  color: #140711;
  text-decoration: underline;
}

#main-nav nav.navbar-default {
  border: 0;
}

#main-nav nav.navbar-default #navbar-main {
  background-color: #140711;
  border: 0;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li {
  border-left: 1px solid #fff;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li a {
  color: #fff;
  font-size: 1.5em;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li:hover {
  background-color: #2d0c20;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.active a {
  background-color: #fff;
  color: #2d0c20;
  font-weight: bold;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open a {
  color: #140711;
  background-color: #fff;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open ul.dropdown-menu {
  border: 0;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open ul.dropdown-menu > li {
  border-bottom: 1px solid #f3f3f3;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open ul.dropdown-menu > li > a {
  color: #140711;
  font-size: 1em;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open ul.dropdown-menu > li:last-of-type {
  border: 0;
}

#main-nav nav.navbar-default #navbar-main ul.navbar-nav li.dropdown.open ul.dropdown-menu > li:hover > a {
  background-color: #2d0c20;
  color: #fff;
}

section.highlight div.container h1.big-header {
  font-weight: 900;
  font-size: 5em;
  margin: 0;
  border: 8px solid #140711;
  letter-spacing: -4px;
  color: #140711;
}

aside.blog-aside h2.aside-title {
  color: #fff;
  background-color: #140711;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -4px;
  font-weight: 400;
}

aside.blog-aside div.list-group {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

aside.blog-aside div.list-group a.list-group-item {
  border-radius: 0;
  display: block;
}

aside.blog-aside div.list-group h1.top5-chart-num {
  text-align: center;
  font-size: 4em;
  margin: 0;
}

div#jsoned {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div#jsoned:after {
  content: '';
  display: block;
  clear: both;
}

div.card-content {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 100%;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

div.card-content a.card-click-target {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

div.card-content div.cover {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

div.card-content div.cover div.cover-image-container {
  height: 110%;
  left: -5%;
  position: relative;
  top: -5%;
  width: 110%;
}

div.card-content div.cover div.cover-image-container div.cover-outer-align {
  display: table;
  height: 100%;
  width: 100%;
}

div.card-content div.cover div.cover-image-container div.cover-outer-align div.cover-inner-align {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.card-content div.details {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 7px 10px 0;
  position: relative;
}

div.card-content div.details a.card-click-target {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

div.card-content div.details a.title {
  margin-bottom: 0;
  margin-top: 3px;
  color: #212121;
  display: block;
  font-size: 16px;
  line-height: 18px;
  max-height: 36px;
  min-height: 18px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

div.card-content div.details a.title:hover {
  text-decoration: underline;
}

div.card-content div.details div.subtitle-container {
  min-height: 22px;
  display: block;
  position: relative;
  width: 100%;
}

div.card-content div.details div.subtitle-container a.subtitle {
  color: #616161;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  margin: 1px 0;
  max-width: 132px;
  overflow: hidden;
  white-space: nowrap;
}

div.card-content div.details span.price-container span.display-price {
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 2px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

footer.main-footer {
  position: relative;
  z-index: 2;
  background-color: black;
  color: white;
  font-size: .8125em;
  line-height: 1.538461538;
}

footer.main-footer div.container h3.footer-nav-header {
  font-size: 1.5em;
  font-weight: 300;
  color: #1ab095;
}

footer.main-footer div.container h3.footer-nav-featured-header {
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  border-top: 0.2em solid #1ab095;
  border-right: 0.2em solid #1ab095;
  border-bottom: 0.2em solid #1ab095;
}

footer.main-footer div.container figure.featured-section img {
  display: block;
  width: 100%;
  height: auto;
}

footer.main-footer div.container #footer-logo {
  display: block;
  width: 100%;
  height: auto;
}

footer.main-footer div.container ul.nav li a {
  color: #fff;
  padding: 0.1em;
}

footer.main-footer div.container ul.nav li a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */
/* Small devices (tablets, 480px and Smaller) */
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
  h1#header-slogan {
    font-size: 2em;
    text-align: center;
  }
}

/* Small devices (tablets, 768px and Smaller) */
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1#header-slogan {
    font-size: 2em;
    text-align: center;
  }
  p#header-muted-slogan {
    font-size: 2em;
    text-align: center;
    margin-top: 0 !important;
  }
}

/* Medium devices (desktops, 992px and Smaller) */
/* Large devices (large desktops, 1200px and Smaller) */
@media screen and (max-width: 1200px) {
  .header .navigation ul.primary-menu > li a {
    font-size: 1.145em;
    padding: 0 1.24em;
  }
}
